/*Общие стили*/

body {
    margin: 0;
    padding: 0;
    background-color: black;
}

main,
header {
    width: 1200px;
    margin: 0 auto;
}

main {
    height: 1000px;
    background-image: url("../img/background_main.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}